<section class="Section Section--spacingNormal" id="section-{{ section.id }}">
  <div class="Container">

    {{ section.settings.review }}
  </div>
</section>

{% schema %}
  {
    "name": "Highlight Review",
    "settings": []
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}