<nav class="Header__MainNav hidden-lap-and-up" aria-label="{{ 'header.navigation.title' | t }}">
  <ul class="HorizontalList HorizontalList--spacingLoose">
    {%- for link in section.settings.extra_nav_menu.links -%}
      {%- assign downcased_link_title = link.title | downcase | strip -%}
      <li class="HorizontalList__Item">
        <a href="{{ link.url }}" class="Heading u-h6">
          {{- link.title | escape -}}
        </a>
      </li>
    {%- endfor -%}
  </ul>
</nav>


{% schema %}
{
  "name": "Extra Nav Header",
  "class": "shopify-section--header",
  "settings": [
  {
    "type": "link_list",
    "id": "extra_nav_menu",
    "label": "Menu",
    "default": "main-menu"
    }
  ],
    "presets": [{
    "name": "Extra Nav Header",
    "category": "Menu"
  }]
}

{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}